<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon/favicon.ico' | relative_url }}">
<!--    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">-->
</head>
<body>
<header>
    <nav>
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/about">Sobre el blog</a>
        <a href="{{ site.baseurl }}/categories">Categorías</a>
        <a href="{{ site.baseurl }}/contact">Contacto</a>
    </nav>
</header>
<main>
    {{ content }}
</main>
<footer>
    <p>&copy; 2024 Blog de Oriol Canadés
        <a href="https://www.linkedin.com/in/oriolcanades/">LinkedIn</a> |
        <a href="https://in2.es/">IN2</a> |
        <a href="https://alastria.io/">Alastria</a>
    </p>
</footer>
</body>
</html>

